*.elc
auto-save-list
/eln-cache

# ELPA - Emacs Lisp Package Archive
elpa

## Elpy (python) IDE loads extras here
elpy

# autocomplete-mode artifact
ac-comphist.dat

# M-x customize -- customizations = ephemeral
custom.el

# Language Server Protocol turd - ignore
.lsp*
