[defaults]
remote_tmp = /tmp/ansible-$USER
host_key_checking = False

[ssh_connection]
pipelining = True  # stream everything over stdin, no file copies
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
