---
# file: ~/env/ansible/ericg.yml  ## personal environment

- hosts: all

  tasks:

  - name: enable dmesg
    become: yes
    sysctl:
      name: kernel.dmesg_restrict
      value: '0'
      state: present
      reload: yes

  - name: which ping
    command: "which ping"
    register: ping_path
    ignore_errors: true

  - name: enable ping
    become: yes
    capabilities:
      path: "{{ ping_path.stdout }}"
      capability: cap_net_raw+p
      state: present
    when: ping_path.stdout | length > 0

  - name: install packages
    become: yes
    apt:
      state: latest
      name:
        - emacs-nox
        - sshpass
        - hunspell
        - hunspell-en-us
        - tmux
        - tree
        - man-db
        - pass
        - curl
        - wget
        - jq
        - traceroute
        - tcpdump
        - net-tools
        - iftop
        - bmon
        - htop
        - atop
    when:
      - ansible_facts['distribution'] == 'Ubuntu' or ansible_facts['distribution'] == 'Debian'

  - name: ensure python3 is python
    become: yes
    community.general.alternatives:
      name: python
      link: /usr/bin/python
      path: /usr/bin/python3

  - name: git pull env
    git:
      accept_hostkey: yes
      repo: 'git@github.com:egustafson/env'
      dest: "{{ ansible_env.HOME }}/env"

  - name: install env
    shell:
      chdir: "{{ ansible_env.HOME }}"
      cmd: "/usr/bin/python env/install.py"

  - name: install keybase
    vars:
      keybase_url: "https://prerelease.keybase.io/keybase_amd64.deb"
    become: yes
    apt:
      deb: "{{ keybase_url }}"
    tags: [ "keybase", "never" ]  # only run whith explicit tag 'keybase'

...
